.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-container {
  padding: 15px;
}

.Banner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  vertical-align:text-top;
}

.Banner p {
  max-width: 500px;
}

.Sort-dropdown {
  position:relative;
  display: inline-block;
}

.Dropdown-selections {
  display: none;
  position: absolute;
}

.Dropdown-selections > button {
  display: block;
}

.Sort-dropdown:hover .Dropdown-selections {
  display: block;
}

.Data-manipulation {
  display: flex;
  flex-direction: row;
}

table {
  width: 50%;
  padding:10px;
  text-align: center;

}
